.navbar-inverse{
	background:black;

}

.navbar-inverse .navbar-brand{

	color:lightgreen;
	font-family: 'Raleway', sans-serif;
	font-size:150%;
}

.navbar-inverse .navbar-nav > li > a{

	color:lightgreen;
	font-family: 'Raleway', sans-serif;
}

.vanlig-text{
	font-size:150%;
}

.bg-color{

	background-color:white;
}