.navbar-inverse{
	background:black;

}

.navbar-inverse .navbar-brand{

	color:lightgreen;
	font-family: 'Raleway', sans-serif;
	font-size:150%;
}

.navbar-inverse .navbar-nav > li > a{

	color:lightgreen;
	font-family: 'Raleway', sans-serif;
}

.vanlig-text{
	font-size:150%;
}

.bg-color{

	background-color:white;
}

.serie-text{

	font-family: 'Raleway', sans-serif;
	font-size: 100%;

}

.info-om-sidan{
	font-size: 130%
}

.rubrik-tv-serier{
	font-size: 130%;
	font-weight: bold;
}
